[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "luawrapper"]
	path = luawrapper
	url = https://github.com/Tomaka17/luawrapper.git
[submodule "luabind"]
	path = luabind
	url = https://github.com/rpavlik/luabind.git
