[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "luabind"]
	path = deps/luabind
	url = https://github.com/rpavlik/luabind.git
[submodule "LuaState"]
	path = deps/LuaState
	url = https://github.com/AdUki/LuaState.git
[submodule "Catch"]
	path = deps/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "deps/lualinq"]
	path = deps/lualinq
	url = https://github.com/xanathar/lualinq.git
